#div{
    height : 80px;
    width : 240px;
    background-color: red;
    position: fixed;
    bottom: 5%;
    left: 42%;
}

#text{
    color : white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

#range{
    position: fixed;
    bottom: 6%;
    left: 45%;
}